.registerInput {
  width: 100%;
  margin: 8px 0;
  padding: 12px 10px;
  border: none;
  background: #eee;
  border-radius: 8px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 15px;
  color: slategrey;
}

.registerInput:focus {
  outline: none; /* remove default outline */
  box-shadow: 0 0 5px rgba(80, 41, 248, 0.4); /* optional custom focus glow */
  background-color: #eaeaea;
}
